<div class="container col-md-3 col-md-offset-2">
    <div class="row">
        <div class="sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a >Подписки</a></li>
                <li><a>Пополнение баланса</a></li>
                <li><a>Мои комментарии</a></li>
                <li><a>Основные настройки</a></li>
            </ul>
        </div>
    </div>
    <div class = "row">
        <div class="panel panel-info panel-style">
                <div class="panel-heading title">
                      <h1 class="panel-title" style="font-size: 34px;">Username</h1>
                </div>
                <div class="panel-body">
                        <img src = "../../assets/img/2.1.JPG" class = "img-style">
                        <h3 class = "name">Rudenya Alexsandra</h3>
                        <button type = "submit" class = "style-button" >Изменить аватар</button>
                </div>
        </div>
    </div>
</div>