<ng4-loading-spinner> </ng4-loading-spinner>
<div class = "container col-md-12">
    <table class="table panel-style style">
        <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">The registration date</th>
          <th scope="col">Login</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of users">
          <td scope="row">{{ u.account.firstName }}</td>
          <td scope="row">{{ u.account.lastName }}</td>
          <td scope="row">{{ u.account.registrationDate }}</td>
          <td scope="row"><a>{{ u.login }}</a></td>
        </tr>
        </tbody>
    </table>
</div>