<div class = "container col-sm-6">
    <table class="table panel-style style">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Дата регистрации</th>
          <th scope="col">Логин</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of accounts.userAccount">
          <td scope="row">{{ a.accountId }}</td>
          <td scope="row">{{ a.firstName}}</td>
          <td scope="row">{{ a.lastName }}</td>
          <td scope="row">{{ a.registrationDate }}</td>
          <td scope="row">{{ a.userId.login }}</td>
        </tr>
        </tbody>
    </table>
</div>