<ng4-loading-spinner spinnerType="big"></ng4-loading-spinner>
<div class="col-sm-6">
    <table class="table panel-style">
        <thead>
        <tr>
          <th scope="col">Subscribe name</th>
          <th scope="col">Start date subscribe</th>
          <th scope="col">End date subscribe</th>
        </tr>
        </thead>
        <tbody *ngFor="let s of subscribeByAccountId">
        <tr>
          <td scope="row"><a>{{ s.product.name}}</a></td>
          <td scope="row">{{ s.startDate }}</td>
          <td scope = "row">{{ s.endDate }}</td>
        </tr>
        </tbody>
      </table>
</div>