
.ghost-button-transition {
    display: inline-block;
    width: 200px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    color: #000;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                color 0.2s ease-out;}
  
  .ghost-button-transition:hover,
  .ghost-button-transition:active {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in,
                color 0.3s ease-in;
  }