.well {
    top: 50px;
    background-color: white;
    border-color: blueviolet;
}

.pagination {
    margin-top: 75px;
    margin-left: 470px;
    font-size: 22px;
}

.content-wrapper {
    border: 1px solid #ddd; 
    margin-bottom: 10px;
    padding-left: 300px;
  }

.name-style {
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 100px;
}

.shortD-style {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 100px;
    margin-top: 150px;
}

.button-style {
    margin-top: 20px;
    margin-left: 100px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    border-color: rgb(241, 75, 75);
    background-color: rgb(241, 75, 75);
    color: white;

}
