<ng4-loading-spinner></ng4-loading-spinner>
<div class = "col-md-12">
    <div class="content-wrapper" *ngIf= "this.pageProduct.isLoad">
        <div  class = "content-item" *ngFor= "let content of this.pageProduct.pageContent.content">
                <div class = "col-md-10 well">
                    <div class = "col-md-2">
                        <img src = "../../assets/img/3.1.JPG" style = "width:300px; height: 300px;">
                        <button  class = "button-style" (click) = "getId(content.productId)">Details</button>
                    </div>
                    <div class = "col-md-8">
                        <p class = "name-style">{{ content.name }}</p>
                        <p class = "shortD-style">{{ content.shortDescription }}</p>
                    </div>
                </div>
        </div>
        <pagination [totalItems]="this.pageProduct.pageContent.totalElements" (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>