<app-menu-account (linkComponent) = "linkNumber($event)"></app-menu-account>
<div *ngIf = "( parameter == 'subscription')">
    <app-user-info></app-user-info>
    <app-subscribe></app-subscribe>
</div>
<div *ngIf = "( parameter == 'balance')">
    <app-wallet></app-wallet>
</div>
<div *ngIf = "( parameter == 'comment')">
    <app-user-info></app-user-info>
    <app-comment-user></app-comment-user>
</div>
<div *ngIf = "( parameter == 'users')">
    <app-user-account-admin></app-user-account-admin>
</div>
