<ng4-loading-spinner></ng4-loading-spinner>
<div class = "container col-sm-6">
    <table class="table panel-style style">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let s of subscribe.subscribe">
          <td scope="row">{{ s.product.comment }}</td>
          <td scope="row">{{ s.product.comment.text }}</td>
          <button class = "btn-style1" (click) = "comments._deleteComment(s.product.comment.commentId)">Delete</button>
        </tr>
        </tbody>
    </table>
</div>