<div class = "container col-sm-6">
    <table class="table panel-style style">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of comments.comments">
          <td scope="row">{{ c.commentId }}</td>
          <td scope="row">{{ c.text }}</td>
          <button class = "btn-style1" (click) = "comments._deleteComment(c.commentId)">Удалить</button>
        </tr>
        </tbody>
    </table>
</div>