.nav-justified {
  background-color: #eee;
  border: 1px solid white;
  border-radius: 5px;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black; 
  background-color: white; /* Old browsers */
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}

.img-style {
    height: 300px;
    width: 300px;
    margin-left: 75px;
}

.name {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.panel-style {
    margin-left: 20px;
    margin-top: 35px;
    border-color: white;
    border-width: 5px 5px 5px 5px;
}

.title {
    text-align: center;
    background-color: white;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .style-button {
  
    position: relative;
    vertical-align: top;
    width: 40%;
    margin-left: 135px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    text-shadow: 0 1px 2px eepskyblue;
    background: yellow;
    border: 5px solid yellow;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 3px;
    font-family: Arial, "Helvetica", sans-serif;

}
  