input.ng-touched.ng-invalid {
    border: solid red 2px;
}

input.ng-touched.ng-valid {
    border: solid green 2px;
}

.errors {
    border: solid red 2 px;
}

.disabled{
    cursor: not-allowed;
}
.well{
    padding-top: 50px;
    margin-top: 200px;
    background: white;
    border-color:cornflowerblue;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.btn-primary-1:disabled {
    cursor:not-allowed;
    background-color:  rgb(104, 203, 236, 2);
}

.btn-primary-1{
    position: relative;
    vertical-align: top;
    width: 40%;
    height: 30px;
    padding: 0;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px eepskyblue;
    background: deepskyblue;
    border: 0;
    margin-left: 140px;
    border: 0 solid deepskyblue;
    cursor: pointer;
    border-radius: 3px;
    font-family: Arial, "Helvetica", sans-serif;
}
.text-style {
    font-weight: 100px;
    font-size: 44px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}