<diV *ngIf= "this.wallets.isLoad">
  <div class="col">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            (click)="_openModal(template)">
      Create new billing account
    </button>
</div>
<diV *ngIf= "this.wallets.isLoad">
        <div class="col">
            <p>{{ this.wallets.walletByAccounId.balance}}</p>
      </div>
<form [formGroup] = "walletForm" (ngSubmit) = "onSubmit()">
    <div class="col-md-6">
        <label>Balance</label>
        <input type="text" class="form-control" formControlName="money" id="money">
    </div>
    <button type="submit" class="btn btn-primary" (click)="this.topUpMoney()">
        Пополнить
    </button>
</form>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create new wallet</h4>
    </div>
    <div class="modal-body">
            <form [formGroup] = "walletForm" (ngSubmit) = "onSubmit()">
                <div class = "container-fluid">
                <div class="col-sm-10">
                        <h3>Please fill in this form</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Card number</label>
                                    <input type="text" class="form-control" formControlName="cardNumber" id="cardNumber">
                                    <div class = "error" *ngIf="isControlInvalid('cardNumber')">
                                        Data invalid, card number must be minimum 16 characters long
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>CVV</label>
                                    <input type="text" class="form-control" formControlName="cvv" placeholder="Security code.:" >
                                    <div class = "error" *ngIf="isControlInvalid('cvv')">
                                        Security code don't include letter, only number
                                    </div>
                                </div>
                            </div>
                            <h3>Validity of the card</h3>
                            <div class="row">
                                <div class="col-xs-12 col-12 col-md-6 form-group">
                                    <input class="form-control" formControlName="cardValidityPeriod">
                                </div>
                                <div class = "error" *ngIf="isControlInvalid('cardValidityPeriod')">
                                    Security code don't include letter, only number
                                </div>
                            </div>
                    </div>
                </div>
            </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-warning style-button" (click) = "addWallet()" >Pay</button>
        <button type="submit" class="btn btn-warning style-button" data-dismiss="modal" (click)="_closeModal()">Close</button>
    </div>
</ng-template>
</diV>
