<div class = "container-fluid contactDiv ">
    <div>
        <h1 class= "contact">Контакты</h1>
    </div>
    <div class = "col-md-6">
        <div class = "contact-text col-md-offset-1">
            <p>Если хотите с нами связаться: </p>
            <h1>Телефон: </h1>
            <p class = "contact-value">{{ contacts.telephone }}</p>
            <h2>E-mail: </h2>
            <p class = "contact-value">{{ contacts.email}}</p>
        </div>
    </div>
    <div class = "col-md-5" style = "margin-top: 25px;">
            <div class="form-group">
                <input class="form-control contact-form input-padding-name"  name="username" placeholder = "Ваше имя: " required/>
            </div>
            <div class="form-group">
                <input class="form-control contact-form input-padding-name" name="email" placeholder = "Ваш логин: " />
            </div>
            <div class="form-group">
                <textarea class= "from-control contact-form input-padding-text" name = "message" placeholder="Текст: " 
                required="" value=""></textarea>
            </div>
            <input type="submit" value="Отправить" name="submit" class="btn btn-default button-color">
    </div>

</div>