    <div class = "container well col-md-3 col-sm-offset-4">
        <h1 class ="text-style">Вход</h1>
        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" name="email" [(ngModel)]="loginUser.login" #email="ngModel"
                    required />
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input class="form-control" name="password" [(ngModel)]="loginUser.password" #password="ngModel" required/>
        </div>
        <button class="btn-primary-1" type = "submit" (click) = "getToken()" (click) = "login()">Войти</button>
        <button class="btn-primary-1" type = "submit" routerLink="/signin" routerLinkActive="active">Зарегистрироваться</button>
    </div>